@charset "UTF-8";
body {
  margin: 0;
  font-family: "メイリオ", sans-serif;
  text-align: center;
}
h1 {
  font-size: 30px;
}
header {
  width: 100%;
  height: 8vh;
  background-color: #000;
}
header .logo {
  font-family: "游明朝";
  line-height: 8vh;
  text-decoration: none;
  color: #fff;
  float: left;
  font-size: 5vh;
  margin-left: 3vw;
}
#wrapper {
  overflow: auto;
  text-align: center;
}
form p {
  vertical-align: top;
}
.title, .tag {
  display: inline-block;
}
.tag input[type="radio"] {
  display: none;
}
.title {
  width: 40vw;
  font-size: 15px;
  text-align: right;
}
.tag {
  width: 50vw;
  text-align: left;
  margin-left: 30px;
}
.tag input, .tag textarea {
    font-size: 17px;
  }
label {
  width: 45px;
  margin-right: 5px;
  font-size: 15px;
  display: inline-block;
  color: #000;
  text-align: center;
  cursor: pointer;
  border: solid 0.1vw #000;
  border-radius: 5px;
}
input[type="radio"]:checked + label {
  background: #000;
  color: #fff;
  font-weight: bold;
}
label:hover {
  background-color: #ccc;
}
#sbut {
  background-color: #fff;
  color: #000;
  text-align: center;
  cursor: pointer;
  border: solid 0.1vw #000;
  width: 80px;
  font-size: 16px;
  padding: 1px 0;
  margin-top: 20px;
}
#sbut:hover {
  background-color: #ccc;
}

.result {
  text-align: center;
  float: left;
  width: 20vw;
  margin-left: 4vw;
  margin-bottom: 25px;
}
.result a {
  text-decoration: none;
}
.result img {
  width: 100%;
}
.result p {
  color: #000;
  font-size: 15px;
}

.recipe img {
  width: 40vw;
  float: left;
  margin: 0 5vw;
}
h2 {
  font-size: 20px;
  float: right;
  text-align: left;
  width: 45vw;
  margin: 5px;
  clear: right;
}
ul, ol {
  margin: 0;
  text-align: left;
  width: 40vw;
  float: right;
  padding-left: 5vw;
  clear: right;
}
ol {
  padding-bottom: 30px;
}
li {
  font-size: 15px;
}
.tag2 label {
  background: #000;
  color: #fff;
  font-weight: bold;
}
.recipe p {
  display: none;
}

@media screen and (max-width : 768px){
  h1 {
    font-size: 8vw;
    margin: 3vh 0 2vh 0;
  }
  .title {
    width: 20vw;
    font-size: 4vw;
    margin-left: 3vw;
    text-align: center;
  }
  .tag {
    width: 68vw;
    margin-left: 5vw;
    text-align: center;
  }
  .tag input, .tag textarea {
    font-size: 4vw;
  }
  label {
    width: 12vw;
    margin-right: 1vw;
    font-size: 4vw;
  }
  #sbut {
    width: 30vw;
    font-size: 4vw;
    padding: 1vw 0;
    margin-top: 3vw;
  }
  
  .result {
    margin: 5vw;
    float: none;
    width: ;
  }
  .result img, .recipe img {
    width: 90vw;
    float: none;
  }
  .result p {
    font-size: 4vw;
    margin: 3vw 0 10vw 0;
    width: 90vw;
  }

  ul, ol {
    padding: 0 10vw;
    width: 80vw;
    float: none;
    text-align: center;
  }
  li {
    font-size: 5vw;
    margin-left: 5vw;
    text-align: left;
  }
  h2 {
    float: none;
    text-align: center;
    width: 100%;
    font-size: 6vw;
    margin: 3vh 0 2vh 0;
  }
  .recipe p {
    font-size: 4vw;
    margin: 7vw 0;
    display: block;
  }
  .tag2 {
    width: 50vw;
    float: left;
  }
  .update {
    width: 20vw;
    font-size: 4vw;
  }
}